doctype html
html(lang='ru')
  head
    title test service
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="blue")
    link(rel='stylesheet', href='/public/dist/css/app.css')

  body
    #app
    script(src="/script/app.js")